@import 'primeng/resources/themes/lara-dark-teal/theme.css'; // Replace with your desired theme
@import 'primeng/resources/primeng.min.css';
@import 'primeicons/primeicons.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/* You can add global styles to this file, and also import other style documents */
body{
  font-family: 'Montserrat' !important;
}
::ng-deep .p-compnent{
  font-family: 'Montserrat' !important;
}
